@import "tailwindcss";


input{
  @apply border border-gray-300 p-2 rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-500;
}

.button_sideBar {
  @apply p-3 hover:bg-gray-200 rounded-lg transition-colors;
}
.button_grey {
  @apply bg-gray-300 text-gray-800 px-4 py-2 rounded-lg hover:bg-gray-200 transition-colors duration-200 font-medium;
}

.button_blue {
  @apply bg-blue-200 text-white px-4 py-2 rounded-lg hover:bg-blue-300 transition-colors duration-200 font-medium;
}

