@import "tailwindcss";

input {
  @apply border border-gray-300 p-2 rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-500;
}

.tab-trigger {
  @apply min-w-[8rem] px-6 py-2   /* pienennä py-3 → py-2 */
         text-center font-medium text-gray-800 text-lg
         rounded-full transition w-fit
         lg:flex-1;

  @apply bg-transparent shadow-none; /* oletuksena läpinäkyvä, ei varjoa */
}

.tab-trigger:hover {
  @apply bg-white/50;
}

.tab-trigger[data-state="active"],
.tab-trigger[aria-selected="true"],
.tab-trigger[data-selected="true"] {
  @apply bg-white shadow text-gray-900;
}

.btn {
  @apply border px-3 py-1 rounded text-gray-700 hover:bg-gray-50;
}

.btn-primary {
  @apply px-3 py-1 rounded border text-sm bg-blue-600 text-white hover:bg-blue-500;
}

.btn-secondary {
  @apply px-3 py-1 rounded-lg transition-colors bg-green-400 text-black hover:bg-green-500;

  &.active {
    @apply bg-green-700 text-white;
  }
}
